<section class="mt-8 bg-white">
    <div class="p-4 grid grid-cols-1 sm:grid-cols-3 relative">
        <div class="col-start-2">
            <div class="flex flex-row justify-center items-center">
                <img src="assets/img/undraw_Mail_sent_re_0ofv.svg" alt="Logo" class="h-8 inline mr-2">
                <p class="text-primary text-center font-semibold text-2xl sm:text-3xl tracking-tight py-4 inline">
                    Contáctenos
                </p>
            </div>
            <form [formGroup]="form" (ngSubmit)="save($event)">
                <div class="form__group">
                    <input type="text" name="name" id="name" placeholder="¿Cómo te llamas?" 
                        [ngClass]="{'form__control': true, 'form__control--invalid': nameField.invalid && nameField.dirty}"
                        formControlName="name"
                        />
                    <app-form-feedback [control]="nameField"></app-form-feedback>
                </div>
                <div class="form__group">
                    <input type="email" name="email" id="email" placeholder="¿Cómo es tu correo electrónico?" 
                        [ngClass]="{'form__control': true, 'form__control--invalid': emailField.invalid && emailField.dirty}"
                        formControlName="email"/>
                    <app-form-feedback [control]="emailField"></app-form-feedback>
                </div>
                <div class="form__group">
                    <textarea name="feedback" id="feedback" placeholder="¿Cómo te podemos ayudar?" rows="6" 
                        [ngClass]="{'form__control': true, 'form__control--invalid': feedbackField.invalid && feedbackField.dirty}"
                        formControlName="feedback"></textarea>
                    <app-form-feedback [control]="feedbackField"></app-form-feedback>
                </div>
                <div class="form__buttons">
                    <button type="reset" class="btn btn--cancel">Cancelar</button>
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>