<section class="contact-us">

    <div class="contact-us__content">
        <div class="content__title">
            <img src="assets/img/undraw_Mail_sent_re_0ofv.svg" alt="Logo"/>
            <p>Contáctenos</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="save($event)">
            <div class="form__group">
                <input type="text" name="name" id="name" placeholder="¿Cómo te llamas?" 
                    [ngClass]="{'form__control': true, 'form__control--invalid': nameField.invalid && nameField.dirty}"
                    formControlName="name"
                    />
                <app-form-feedback [control]="nameField"></app-form-feedback>
            </div>
            <div class="form__group">
                <input type="email" name="email" id="email" placeholder="¿Cómo es tu correo electrónico?" 
                    [ngClass]="{'form__control': true, 'form__control--invalid': emailField.invalid && emailField.dirty}"
                    formControlName="email"/>
                <app-form-feedback [control]="emailField"></app-form-feedback>
            </div>
            <div class="form__group">
                <textarea name="feedback" id="feedback" placeholder="¿Cómo te podemos ayudar?" rows="6" 
                    [ngClass]="{'form__control': true, 'form__control--invalid': feedbackField.invalid && feedbackField.dirty}"
                    formControlName="feedback"></textarea>
                <app-form-feedback [control]="feedbackField"></app-form-feedback>
            </div>
            <div class="form__buttons">
                <button type="reset" class="btn btn--cancel">Cancelar</button>
                <button type="submit" class="btn" [disabled]="form.invalid">Enviar</button>
            </div>
        </form>
    </div>
</section>