<header class="header">
    <div class="header__logo">
        <a [routerLink]="['/home']">
            <img src="assets/img/logo-w.svg" alt="Logo"/>
        </a>
    </div>
    <div class="header__menu">
        <div class="menu__icon" (click)="menuOpened = !menuOpened;">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <ul [ngClass]="{'menu__options': true, 'active': menuOpened}">
            <li *ngFor="let option of menu">
                <a [routerLink]="option.link" routerLinkActive="active" (click)="menuOpened = !menuOpened;">
                    {{ option.option}}
                </a>
            </li>
        </ul>
    </div>
</header>