<div style="background-image: url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);"
    class="h-56 sm:h-80 md:h-100 bg-cover bg-no-repeat bg-center relative z-0 shadow-xl">
    <div class="text-white uppercase font-oswald text-center absolute top-0 bottom-0 w-full flex flex-col justify-center bg-secundary bg-opacity-75">
        <p class="inline font-semibold text-2xl sm:text-3xl tracking-tight">Disfruta de nuestros <span class="text-primary inline">Productos</span></p>
        <p class="font-light text-2xl hidden sm:block">Tenemos una gran variedad de hamburguesas disponibles para ti</p>
        <p class="font-normal text-2xl text-primary hidden sm:block">No esperes <span class="text-white inline font-light">más</span></p>
        <p class="text-2xl sm:text-4xl absolute bottom-0 pb-8 w-full text-center text-opacity-25"><i class="fa fa-angle-down" aria-hidden="true"></i></p>
    </div>
</div>