<footer class="footer">
    <div class="footer__networks">
        <div class="social-network social-network--facebook"><i class="fa fa-facebook"></i></div>
        <div class="social-network social-network--twitter"><i class="fa fa-twitter"></i></div>
        <div class="social-network social-network--instagram"><i class="fa fa-instagram"></i></div>
    </div>
    <ul class="footer__options">
        <li class="footer__option">Soporte</li>
        <li class="footer__option">Acerca de</li>
        <li class="footer__option">Registro</li>
        <li class="footer__option">Aviso de privacidad</li>
    </ul>
</footer>