<section class="mt-8 bg-white">
    <div class="p-4 grid grid-cols-1 sm:grid-cols-3 relative z-20">
        <div class="col-start-2">
            <div class="flex flex-row justify-center items-center">
                <img src="assets/img/undraw_Mail_sent_re_0ofv.svg" alt="Logo" class="h-8 inline mr-2">
                <p class="text-primary text-center font-semibold text-2xl sm:text-3xl tracking-tight py-4 inline">
                    Contáctenos
                </p>
            </div>
            <form>
                <input type="text" name="name" id="name" placeholder="¿Cómo te llamas?" class="form__input"/>

                <input type="email" name="email" id="email" placeholder="¿Cómo es tu correo electrónico?" class="form__input"/>

                <textarea name="description" id="description" placeholder="¿Cómo te podemos ayudar?" rows="6" class="form__input"></textarea>

                <div class="form__buttons">
                    <button type="reset" class="btn btn--cancel">Cancelar</button>
                    <button type="submit" class="btn">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>